
/* height of the map */
#map {
    height: 400px;
    width: 80%;
    display: inline-block;
}

#panel {
    width: 16%;
    display: inline-block;
    vertical-align: top;
}

/* size of popup */
.leaflet-popup-content p {
    margin: 0.2em 0;
}

#map {
    height: 400px;
    width: 100%;
    display: inline-block;
}

.sequence-control-container {
    width: 350px;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 200px;
}



#attribute-legend{
  width: 20px;
  height: 50px;
  background-color: rgba(255,255,255,0.5);
  padding: 50px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
}
